{% load static %}

<div class="navbar fixed-top" style="background-image: url('../../static/images/mobile-background.jpg');background-repeat:no-repeat;background-size:cover;">
    <nav class="container">
        <span class="navbar-brand mb-0 h1">
            <a href="/">
                <div id="brand" class="logo d-none d-sm-block">
                    <img src="{% static 'images/in_web_logo.png' %}" alt="" width="100%" class="download">
                </div>
            </a>
        </span>
        <form class="mb-0 h1 ml-auto mr-auto" id="searchform" action="{% url 'search' %}" >
            <input name="search_user" autocomplete="on" id="searching" class="form-control d-none d-md-block" placeholder="Search">
        </form>
        <span class="pull-right">
            <i class="fas fa-home pr-3"></i>
            <i class="fas fa-paper-plane pr-3"></i>
            <i class="fas fa-compass pr-3"></i>
            <i class="fas fa-heart pr-3"></i>
            <a href=""><i class="fas fa-user-circle"></i></a>
        </span>
    </nav>
</div>