{% load static %}

<div class="navbar fixed-top bg-white">
    <nav class="container">
        <span class="navbar-brand mb-0 h1">
            <a href="/">
                <div id="brand" class="logo d-none d-sm-block">
                    <img src="{% static 'images/in_web_logo.png' %}" alt="" width="100%" class="download">
                </div>
            </a>
        </span>
        <form class="mb-0 h1 ml-auto mr-auto" id="searchform" action="{% url 'search' %}" >
            <input name="search_user" autocomplete="on" id="searching" class="form-control d-none d-md-block" placeholder="Search">
            <i class="spinner-border border border-dark"></i>
        </form>
        <span class="pull-right">
            <i class="fas fa-home"></i>
            <i class="fas fa-paper-plane"></i>
            <i class="fas fa-compass"></i>
            <i class="fas fa-heart"></i>
            <a href="{% url 'profile' user.username %}"><i class="fas fa-user-circle"></i></a>
        </span>
    </nav>
</div>